[submodule "OAuth2"]
	path = OAuth2
	url = https://github.com/p2/OAuth2
[submodule "MASShortcut"]
	path = MASShortcut
	url = https://github.com/shpakovski/MASShortcut
[submodule "tesseract"]
	path = tesseract
	url = https://github.com/tesseract-ocr/tesseract.git
[submodule "NSBundle-LoginItem"]
	path = NSBundle-LoginItem
	url = https://github.com/nklizhe/NSBundle-LoginItem.git
